.body {
    background-color: whitesmoke;
}

.divKlasa {
    width: 500px;
    height: 100px;
    margin: auto;
    border: blue solid 1px;
    background-color: antiquewhite;
}

.divKlasa2 {
    background-color: violet;
}

#div2 {
    background-color: blue;
}