body {
    background-color: whitesmoke;
}

#content {
    margin: auto;
    width: 500px;
    background-color: lavender;
    border: red solid 1px;
}

#naslov {
    width: 100%;
    height: 100px;
    background-color: aqua;
}

#podnaslov {
    width: 100%;
    height: 100px;
    background-color: azure;
}

.naslov1 {
    color: red;
    margin: 0px 0px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.podnaslov1 {
    color: blue;
    margin: 0px 0px;
    padding-top: 20px;
    text-align: center;
}